.btn-custom {
    background-color: #FF5757; 
    color: #000; 
    border-color:  #FF5757; 
}
.btn-custom2{
    background-color: #5ca300; 
    color: #000; 
    border-color:  #C1FF72; 
}

.btn-custom3{
    background-color: #59D9D9;
    border-color: #59D9D9;
    color: #000;
}